root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.fs]
indent_size = 4
max_line_length = 100

[*.fsx]
indent_size = 4

[*.fsproj]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_size = 2
